

<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h2>Log Into Your Accoutn</h2>
    </div>
  </div>
  <form class="login-form">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label>
          <h4>Email</h4>
        </label>
        <input type="text" id="#email-login" placeholder="email" />
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">

        <label>
          <h4>Password</h4>
        </label>
        <input type="text" id="#password-login" placeholder="Password" />
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <button class="submit secondary button expanded " type="submit">Submit</button>
      </div>
    </div>
  </form>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <a href="/newAccount" class="text-center">
        <h5>Create an account</h5>
      </a>
    </div>
  </div>

  <script src="./js/login.js"></script>
