

<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h2>Create an Account</h2>
    </div>
  </div>
  <form class="signup-form">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label for="name-signup" >
          <h4>Username</h4>
        </label>
        <input type="text" placeholder="Username" />
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label for="email-signup">
          <h4>Email</h4>
        </label>
        <input type="text" placeholder="Email" />
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label for="password-signup">
          <h4>Password</h4>
        </label>
        <input type="text" placeholder="Password" />
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <button type="submit" class="submit secondary button expanded">Sign me up!</button>
      </div>
    </div>
  </form>
  </div>

  <script src="./js/login.js"></script>
