<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h2>Create New Post</h2>
  </div>
</div>
<form id="new-blog-post">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>
        <h3>TITLE OF POST</h3>
        <textarea placeholder="Title" id="blog-title"></textarea>
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>
        <textarea placeholder="Post Content" id="blog-content"></textarea>
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <button class="submit secondary button">Create Post</button>
    </div>
  </div>
</form>

<script src="./js/blog.js"></script>